## Importing the Libraries

In [1]:
import pandas as pd

# imororting the Data

In [2]:
df = pd.read_csv(r"C:\Users\Faizan\Downloads\hyderabad_eta_data.csv")

In [3]:
df

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,clear,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,rainy,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,clear,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,rainy,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,rainy,3,12,21.053944

Data Prepocessing

EDA

In [4]:
df.isna().sum()

start_lat            0
start_lng            0
end_lat              0
end_lng              0
distance_km          0
traffic_density      0
weather_condition    0
day_of_week          0
hour_of_day          0
ETA                  0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [6]:
df.corr(numeric_only=True)

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,day_of_week,hour_of_day,ETA
start_lat,1.000000,0.029310,0.014518,-0.029424,0.034785,-0.024754,0.055406,-0.014557,-0.030701
start_lng,0.029310,1.000000,0.027262,-0.005791,0.032911,0.000297,-0.048353,0.014242,-0.007978
end_lat,0.014518,0.027262,1.000000,-0.013560,-0.008858,-0.014043,-0.057856,-0.006245,0.061752
end_lng,-0.029424,-0.005791,-0.013560,1.000000,-0.044812,0.034494,0.017789,-0.012494,0.009425
distance_km,0.034785,0.032911,-0.008858,-0.044812,1.000000,-0.031475,0.066093,0.022646,-0.008686
traffic_density,-0.024754,0.000297,-0.014043,0.034494,-0.031475,1.000000,-0.010457,0.018572,-0.009196
day_of_week,0.055406,-0.048353,-0.057856,0.017789,0.066093,-0.010457,1.000000,0.020010,0.072280
hour_of_day,-0.014557,0.014242,-0.006245,-0.012494,0.022646,0.018572,0.020010,1.000000,0.009233
ETA,-0.030701,-0.007978,0.061752,0.009425,-0.008686,-0.009196,0.072280,0.009233,1.000000

# Data Cleaning

## Feature engineering

In [7]:
df

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,rainy,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,clear,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,rainy,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,clear,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,clear,1,2,56.713490
...,...,...,...,...,...,...,...,...,...,...
995,17.227475,78.497087,17.459589,78.432632,27.024522,9,clear,2,4,18.585042
996,17.475194,78.586984,17.247182,78.400320,4.462049,1,rainy,5,14,42.688225
997,17.241046,78.320687,17.292936,78.418372,10.507442,1,clear,5,12,11.273635
998,17.485071,78.317116,17.287014,78.458982,24.656616,4,rainy,5,12,13.180450
999,17.333802,78.384656,17.461424,78.348410,18.322059,4,rainy,3,12,21.053944

In [8]:
df['weather_condition'].unique()

array(['rainy', 'clear', 'foggy'], dtype=object)

In [9]:
df['weather_condition'] = df['weather_condition'].map({'rainy':1,'foggy':2,'clear':3})

# Model Building

splitting the input and output

In [10]:
df.head()

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day,ETA
0,17.312362,78.355540,17.278512,78.501811,17.587880,3,1,3,17,26.113020
1,17.485214,78.462570,17.274094,78.539004,24.357538,8,3,5,14,58.715248
2,17.419598,78.561884,17.471876,78.375140,23.044667,7,1,6,8,59.316409
3,17.379598,78.519667,17.274864,78.487462,5.463097,3,3,2,17,35.630253
4,17.246806,78.541968,17.281585,78.471524,5.328235,6,3,1,2,56.713490

In [11]:
x = df.drop('ETA',axis =1)
y = df['ETA']

In [12]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\faizan\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\faizan\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\faizan\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\faizan\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\faizan\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=23)

In [15]:
x_test

,start_lat,start_lng,end_lat,end_lng,distance_km,traffic_density,weather_condition,day_of_week,hour_of_day
519,17.245125,78.578110,17.416812,78.363238,1.654371,2,2,2,3
837,17.308718,78.401480,17.213473,78.335593,12.991979,5,3,4,0
208,17.201518,78.382088,17.287665,78.431763,3.494933,10,1,0,9
525,17.340608,78.377033,17.283628,78.344183,13.460528,3,1,5,16
978,17.348910,78.561819,17.411110,78.315172,1.027359,3,2,0,20
...,...,...,...,...,...,...,...,...,...
647,17.403731,78.547820,17.350120,78.428996,8.317127,3,2,0,2
481,17.408725,78.336063,17.463127,78.471782,14.680455,4,2,5,21
134,17.482873,78.504978,17.415806,78.360085,18.210380,8,2,3,23
366,17.488357,78.514747,17.236901,78.397354,3.323066,7,3,0,14
879,17.266592,78.469507,17.255841,78.369414,24.895932,3,2,4,15

## Linear Regression

In [16]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
mean_squared_error(y_test,y_pred)

228.5919996249638

## KNN Regression

In [17]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()
knn.fit(x_train,y_train)
y_pred = knn.predict(x_test)
mean_squared_error(y_test,y_pred)

245.11420625818508

## Descision Tree

In [18]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)
mean_squared_error(y_test,y_pred)

394.4133394623648

## SVR

In [19]:
from sklearn.svm import SVR
sv = SVR()
sv.fit(x_train,y_train)
y_pred = sv.predict(x_test)
mean_squared_error(y_test,y_pred)

226.54505877560223

In [20]:
lr.coef_

array([-4.22512291, -0.65865854, 14.34596171,  3.93849869, -0.04716621,
       -0.13704362,  0.08144095,  0.53928957,  0.06447841])

In [21]:
lr.intercept_

-398.57379847972663

# Deployement

In [22]:
start_lat = float(input("Enter the star latttude:"))
start_lang = float(input("Enter the star lagitude:"))
end_lat = float(input("Enter the dest lattttude:"))
end_lang = float(input("Enter the end langitude:"))
dist = float(input("Enter the distance:"))
density = int(input("Enter the density:"))
weather = int(input("Enter the star lat:"))
day  = int(input("Enter the day:"))
hour = int(input("Enter the hour:"))
time = lr.predict([[start_lat,start_lang ,end_lat,end_lang,dist,density,weather,day,hour]])[0]
print("The Estimated time is",time,'min')

Enter the star latttude: 17.4933
Enter the star lagitude: 78.3914
Enter the dest lattttude: 17.4933
Enter the end langitude: 78.3914
Enter the distance: 15.5
Enter the density: 4
Enter the star lat: 1
Enter the day: 4
Enter the hour: 11

The Estimated time is 37.25294330241445 min

C:\Users\Faizan\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [23]:
lr.coef_

array([-4.22512291, -0.65865854, 14.34596171,  3.93849869, -0.04716621,
       -0.13704362,  0.08144095,  0.53928957,  0.06447841])

In [24]:
eta = -4.22512291*start_lat-0.65865854*start_lang+14.34596171*end_lat+3.93849869*end_lang-0.04716621*dist-0.13704362*density+0.08144095*weather+0.53928957*day+ 0.06447841*time-398.5737984797196

## Pickle the model

In [25]:
import pickle

In [26]:
pickle.dump(lr,open('estimator.pkl','wb'))

In [27]:
model = pickle.load(open('estimator.pkl','rb'))

In [28]:
model

LinearRegression()

In [29]:
start_lat = float(input("Enter the star latttude:"))
start_lang = float(input("Enter the star lagitude:"))
end_lat = float(input("Enter the dest lattttude:"))
end_lang = float(input("Enter the dest langitude:"))
dist = float(input("Enter the distance:"))
density = int(input("Enter the density:"))
weather = int(input("Enter the weather condition:"))
day  = int(input("Enter the day:"))
hour = int(input("Enter the hour:"))
time = model.predict([[start_lat,start_lang ,end_lat,end_lang,dist,density,weather,day,hour]])[0]
print("The Estimated time is",time,'min')

Enter the star latttude: 17.4933
Enter the star lagitude: 78.3914
Enter the dest lattttude: 17.4933
Enter the dest langitude: 78.3914
Enter the distance: 15.5
Enter the density: 4
Enter the weather condition: 1
Enter the day: 4
Enter the hour: 13

The Estimated time is 37.381900114178165 min

C:\Users\Faizan\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(